/* 12 flex boxes 4x3*/
.square {
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
}

/* Main Container */
#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: auto;     
}

/* Black Background on selected flex boxes */
.square1 {
  background-color: black;
  color: white;
  text-align: center;
}

.square2 {
  background-color: white;
}

.square3 {
  background-color: wheat; 
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

 /* Image inside bio */
 #bio img{
  width: 25%;
}

.square img{
  width: 15%;
}

#interest img{
  width: 5%;
}




